/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 7, 2017, 10:46:44 PM
    Author     : danalaw
*/

/*Styling the table*/
th {
    border-bottom: 1px solid #d6d6d6;
}

tr:nth-child(even) {
    background: #0060aa;
}

/*Styling the newsfeed*/
.box{
    height: 400px;
    width: 90%;
    border:2px solid darkblue;
    overflow:auto;
    background-color: white;
    padding: 20px;
    margin: 5px;
    align-content: center;
}

#dittwitterfeed{
    list-style: none;
}
